BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_IDS=729142067,ANOTHER_ID
BOT_USERNAME=@yetakchitarjimabot
CARD_NUMBER=5614 6827 1144 2816
VERIFICATION_URL=https://your-site.uz/ # Saytingiz manzili (oxirida / bo'lishi kerak)
